# raw_data for ngs
chipseq/raw_data/*.fastqc
selexseq/raw_data/*.fastqc

# Other analysis
old_analysis/

# Pycharm
.idea/

# genomic references sequences
motifanalysis/reference_data/*.zip

# pycache files
motifanalysis/scripts*.pyc
motifanalysis/scripts/py_classes/__pycache__
